<div class="content">
    <div fxLayout="row wrap" fxLayoutGap="16px grid">
        <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%" fxFlexAlign="center" *ngFor="let article of articles">
            <mat-card class="card">
                <mat-card-header>
                    <mat-card-title [routerLink]="['/article', article.id]">{{article.title}}</mat-card-title>
                    <mat-card-subtitle>By {{article.username}} on {{article.date}}</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image *ngIf="article.image" src="{{article.image}}" [routerLink]="['/article', article.id]">
                <img mat-card-image *ngIf="!article.image" src="https://picsum.photos/200/200/?blur=2" [routerLink]="['/article', article.id]">
                <mat-card-content [routerLink]="['/article', article.id]">
                <p>
                    {{article.summary}}
                </p>
                </mat-card-content>
                <mat-card-actions>
                <button mat-button *ngFor="let tag of article.tags" [routerLink]="['/tag', tag]">{{tag}}</button>
                <button mat-button [routerLink]="['/category', article.category]">{{article.category}}</button>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
</div>
<mat-paginator  [length]="length"
                [pageSize]="limit"
                [pageSizeOptions]="pageSizeOptions"
                (page)="onChangePage($event)" showFirstLastButtons>
</mat-paginator>