article {
    background: #fff;
    color: #000;
    font-size: 18px;
    line-height: 1.6;
    max-width: 90%;
    padding: 1em 1.5em;
    justify-content: center;
}

a {
    color: #000;
}

.subtitle {
    padding: 16px;
}

.title {
    padding: 16px;
}

mat-divider {
    padding: 16px;
}

.content {
    padding: 16px;
}

pre {
    background: #424242;
    border: 1px solid #ddd;
    border-left: 3px solid #f36d33;
    color: #fff;
    page-break-inside: avoid;
    font-family: monospace;
    font-size: 15px;
    line-height: 1.6;
    margin-bottom: 1.6em;
    max-width: 100%;
    overflow: auto;
    padding: 1em 1.5em;
    display: block;
    word-wrap: break-word;
}