.mat-toolbar {
    height: 20vh;
    background-image: url('/assets/toolbar-wood-min.jpg');
}

a {
    text-decoration: none;
    font-size: 150%;
    white-space: normal;
}

button {
    font-size: 110%;
    min-width: min-content;
}

.icon {
    padding: 0 14px;
}

.spacer {
    flex: 1 1 auto;
}