.header {
    height: 20vh;
    background-image: url('/assets/toolbar-city.jpg');
    background-size: 100%;
    background-position-y: 50px;
}

.secondarybar {
    background-color: #424242;;
    height: 5vh;
    font-size: 80%;
}

a {
    color: #fff;
    text-decoration: none;
    font-size: 150%;
    white-space: normal;
}

button {
    font-size: 110%;
    min-width: min-content;
}

.spacer {
    flex: 1 1 auto;
}