# This is a basic workflow to help you get started with Actions

name: Docker Image CI

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the master branch
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
#   # Build jo builds a dockerize image of the angular app based on the Dockerfile, not deployed onto server due to limitations
#   build:
#     # The type of runner that the job will run on
#     runs-on: ubuntu-latest

#     # Steps represent a sequence of tasks that will be executed as part of the job
#     steps:
#       # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
#       - uses: actions/checkout@v2

#       - name: Docker login
#         env: 
#           DOCKER_USER: ${{ secrets.DOCKERHUB_USERNAME }}
#           DOCKER_PASSWORD: ${{ secrets.DOCKERHUB_TOKEN }}
#         run: |
#           echo Trying to logon to docker for user $DOCKER_USER
#           docker login -u $DOCKER_USER -p $DOCKER_PASSWORD

#       - name: Build the Docker image
#         run: docker build . --file Dockerfile -t ${{ secrets.DOCKERHUB_USERNAME }}/blogfrontend:latest
        
#       - name: Docker push
#         run: docker push ${{ secrets.DOCKERHUB_USERNAME }}/blogfrontend
        
#   deploy-direct:
#     # The type of runner that the job will run on
#     runs-on: ubuntu-latest

#     # Steps represent a sequence of tasks that will be executed as part of the job
#     steps:
#       - name: SSH connection
#         uses: appleboy/ssh-action@master
#         with:
#           host: hequanjie.com
#           username: root
#           key: ${{ secrets.SSH_PRIVATE_KEY }}
#           port: 22
#           script: |
#             cd /app
#             git clone https://github.com/hqjb91/blog-frontend.git
#             cd blog-frontend
#             npm i
#             ng serve --host 0.0.0.0 --port 80 --public-host hequanjie.com --no-live-reload

  deploy-dist:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      - name: Build distribution
        run: |
          sudo apt-get update 
          sudo apt-get install sshpass -y
          npm install -g @angular/cli@6.2
          npm ci --debug
          ng build --prod
    
      - name: SSH connection
        uses: appleboy/ssh-action@master
        with:
          host: hequanjie.com
          username: root
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          port: 22
          source: "dist"
          target: "app/blog-backend/dist"
